.timer-div {
    text-align: center;
    margin: auto;
    width: 275px;
    padding: 10px 10px;
    border: 1px;
    margin-top: 10px;
}

.button {
    margin-bottom: 20px;
    width: 65px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 3.5rem;
    color: #222831;
}

.time {
    font-size: 3rem;
    color: #393e46;
}
